$primary: #842029;

$success-lighter: #28a745;

$primary-lighter: #b02a37;

$light: #f8d7da;

$table-striped-bg: #f8d7da;

$homepage-card-bg: #f8d7da;

$homepage-card-btn: #b02a37;

$details-button-color: #54595e;

$danger: #dc3545;

$info: #17a2b8;

$primary-dark: #842029;
$primary-bright: #e35d6a;
$primary-light: #f8d7da;
$secondary-dark: #54595e;
$secondary-light: #ced4da;
$secondary-light-2: #fafafa;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$custom-theme-colors: (
  'primary-dark': $primary-dark,
  'primary-bright': $primary-bright,
  'primary-light': $primary-light,
  'primary-lighter': $primary-lighter,
  'secondary-dark': $secondary-dark,
  'secondary-light': $secondary-light,
  'secondary-light-2': $secondary-light-2,
  'success-lighter': $success-lighter
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);
