.nav-pills .primary-pills .nav-link {
  background: none;
  color: $primary-lighter;
}

.nav-pills .primary-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white;
  background-color: $primary-lighter;
}

.scale-up {
  transform: scaleY(1.1) translateY(-1px);
  background-color: $primary-lighter !important;
}

.scale-down {
  color: $secondary;
  border-bottom: none !important;
}

.nav-tabs {
  border-bottom: 2px solid $primary-lighter !important;
  @include media-breakpoint-down(sm) {
    :hover {
      border: transparent !important;
    }
  }
}
