.registered-bikes {
  .x {
    box-sizing: border-box !important;
  }

  .img-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      'photo photo photo'
      'photo photo photo'
      'p1 p2 p3';
    align-content: space-around;
    justify-content: space-between;
  }

  .main-photo {
    grid-area: photo;
  }

  .p1 {
    grid-area: p1;
    padding-bottom: 50px;
  }

  .p2 {
    grid-area: p2;
    padding-bottom: 50px;
  }

  .p3 {
    grid-area: p3;
    padding-bottom: 50px;
  }

  .main-photo:hover,
  .p1:hover,
  .p2:hover,
  .p3:hover {
    transform: scale(1.01);
    opacity: 0.9;
  }
}

.bike-info-margin {
  margin-bottom: 4px !important;
}
